{{ 'about-us-links.css' | asset_url | stylesheet_tag }}

<div class="about-us-links-wrapper">
  <div class="container">
    <div class="aul-wrapper flex-box justify-between">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About Us Links",
    "settings": [
		
	],
	"blocks": [
		{
			"type": "links_in_img",
                "name": "Links in Images",
				"limit": 2,
                "settings": [

                {
                "type": "image_picker",
                "id": "link_img",
                "label": "Link Image"
                },
				{
					"type": "text",
					"id": "link_heading",
					"label": "Link Heading"
				},
				{
					"type": "text",
					"id": "link_text",
					"label": "Link Text"
				},
				{
					"type": "url",
					"id": "link_url",
					"label": "Link URL"
				}
              ]
		}
	],
	"presets": [
    {
      "name": "About Us Links",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}