{{ 'addicted-companies.css' | asset_url | stylesheet_tag }}

<div class="addicted-companies-wrapper">
  <div class="container rel">
    <div class="addicted-companies-content flex-box justify-between">
      <div class="ac-left module">
        <h2 class="ac-heading heading-2">{{ section.settings.heading }}</h2>
      </div>
      <div class="ac-right module">
      	{% for block in section.blocks %}
        {% if block.type == "logo" %}
        	
          {% if block.settings.brand_logo != blank %}
        	<div class="company-logo">
          <img class="company-img" src="{{ block.settings.brand_logo | img_url: '200x' }}" alt = "brand-img"></div>
          {% else %}<div class="company-logo">{{ block.settings.logo_svg }}</div>{% endif %}
        
        	
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Addicted Companies",
    "settings": [
		{
        "id": "heading",
        "type": "text",
        "label": "Section Heading"
        }
	],
	"blocks": [
		{
                "type": "logo",
                "name": "Company Logo",
                "settings": [
				{
                "id": "brand_logo",
                "type": "image_picker",
                "label": "Select Brand Logo"

                },

                {
                "id": "logo_svg",
                "type": "text",
                "label": "Company Logo SVG"

                }
              ]
            }
	],
	"presets": [
    {
      "name": "Addicted Companies",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
