<style>
  
.grid-box {
  display: flex;
  margin: 0 auto;
  position: relative;
  grid-gap: var(--base-spacing); }

.grid-child {
  background-color: var(--background-main);
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: none;
  margin: 0; }

.grid-wide {
  width: 66.66666%; }

.grid-normal {
  width: 33.33333%; }


.grid-img-box {
  width: 100%;
  height: 100%; }

.grid-img-box img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 50% 50%; }

.grid-text-box {
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-decoration: none;
  padding: 80px 36px; }

.grid-heading {
  font-size: 24px;
  font-weight: 700;
  color: #3C3C3B; }

.grid-text {
  color: #3C3C3B;
  font-size: 16px;
  margin: 36px 0; }
  .grid-1-link img, .grid-6-link img {
    transition: transform 1s ease-out;
  }
  
  
  
  .bg-block {
    background-color: var(--background-main);
  }
</style>
<div class="bg-block">
  <div class="container">
    <div class="grid-box marg-bottom">
      <div class="grid-1 grid-child">
        <a class="grid-1-link" href="/products/wasstrips-zeebries">
          <div class="grid-img-box">
            <img class="" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/DoosWasstripsDoorBrievenbus.png?v=15992505110428515438" alt="Doosje wasstrips door de brievenbus" style="transform: scale(1); opacity: 1;">
          </div>
          <div class="grid-text-box">
            <h2 class="grid-heading-text">Krachtige wasstrips geleverd aan huis.</h2>
            <p class="grid-para">Abboneer nu en bespaar €5!</p>
          </div>

        </a>
      </div>
      <div class="grid-2 grid-child">
        <div class="grid-img-box">
          <img class="" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/WasstripsNaastWitteWas.png?v=13552791164036410658" alt="Doosje wasstrips naast witte was">
        </div>
        <div class="grid-text-box">
        </div>
      </div>
      <div class="grid-3 grid-child">
        <div class="grid-img-box">
          <img class="" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/WasmandWasstripsKlein.png?v=449910258813399333" alt="Wasmand vol vuile was met doosje wasstrips op">
        </div>
        <div class="grid-text-box">
        </div>
      </div>
      <div class="grid-4 grid-child">
        <div class="grid-img-box">
          <img class="" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/JamesBondKlein.png?v=16078687506332464813" alt="Meisje spuit met fles in de camera">
        </div>
        <div class="grid-text-box">
        </div>
      </div>
      <div class="grid-5 grid-child">
        <div class="grid-img-box">
          <img class="" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/DoosjeRefillsKlein.png?v=11104059985498211918" alt="Navulling pakket met verschillende brauzz navullingen">
        </div>
        <div class="grid-text-box">
        </div>
      </div>
      <div class="grid-6 grid-child">
        <a class="grid-6-link" href="/products/brauzz-starterpakket">
          <div class="grid-img-box">
            <img class="" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/FlesAanvullen.png?v=3004759022875362822" alt="Persoon giet navulling in BRAUZZ. fles" style="transform: scale(1); opacity: 1;">
          </div>
          <div class="grid-text-box">
            <h2 class="grid-heading-text">Dé nieuwste manier van schoonmaken.</h2>
            <p class="grid-para">Hervullen is het nieuwe recycleren!</p>
          </div>
        </a>
      </div>
    </div>
    <div class="card-2 no-disp">
      <div class="flex-box justify-between marg-bottom for-scroll">
        <div class="card-2-main">
          <img class="card-2-images" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/brauzz-multipurpose.jpg?v=16662607539816352970">
        </div>
        <div class="card-2-main">
          <img class="card-2-images" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/image-4_2x.png?v=726293637723998902">
        </div>
        <div class="card-2-main">
          <img class="card-2-images" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/sponsdoek.jpg?v=7431110745280498435">
        </div>
        <div class="card-2-main">
          <img class="card-2-images" src="//cdn.shopify.com/s/files/1/0276/8430/7018/t/13/assets/ocean-clean.jpg?v=8465016619693613659">
        </div>
      </div>  
    </div>
  </div>
</div>

<script>
  $(".grid-1-link").hover(function() {
    $(".grid-1-link img").css("transform","scale(1.03)")
    $(".grid-1-link img").css("opacity","0.8")
  }, function(){
    $(".grid-1-link img").css("transform","scale(1)")
    $(".grid-1-link img").css("opacity","1")
  });
  
  $(".grid-6-link").hover(function() {
    $(".grid-6-link img").css("transform","scale(1.03)")
    $(".grid-6-link img").css("opacity","0.8")
  }, function(){
    $(".grid-6-link img").css("transform","scale(1)")
    $(".grid-6-link img").css("opacity","1")
  });
  
</script>

{% schema %}
  {
    "name": "Collection list new",
    "settings": [
		{
          "id": "announcement_text",
          "type": "text",
          "label": "Announcement"

        },
        {
        "id": "brand_logo",
        "type": "image_picker",
        "label": "Select Brand Logo"

        },
        {
        "id": "brand_logo_svg",
        "type": "text",
        "label": "Brand Logo SVG"

        }
	],
	"blocks": [
        {
        "type": "select",
        "name": "Header Upper Menu",
        "settings": [

        {
        "id": "nav_list",
        "type": "link_list",
        "label": "Menu"

        }
      ]
    },
	{
        "type": "add",
        "name": "Header Lower Menu",
        "settings": [

        {
        "id": "nav_list_lower_left",
        "type": "link_list",
        "label": "Menu Left"

        },
		{
        "id": "nav_list_lower_right",
        "type": "link_list",
        "label": "Menu Right"

        }
      ]
    }
],
"presets": [
    {
      "name": "Collection list new",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
