{{ 'collection-products.css' | asset_url | stylesheet_tag }}
{% assign product_handle = section.settings.collection_select %}

<div class="collection-products-wrapper">
  <div class="container">
    <h2 class="collection-products-title text-center heading-2">{{ section.settings.collection_products_title }}</h2>
    <div class="coll-products">
    	{% for product in collections[product_handle].products limit:1 %}
      		{{ product.title | escape }}
      	{% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection Products",
    "settings": [
		{
        "id": "collection_products_title",
        "type": "text",
        "label": "Section Heading"
        },
		{
			"id": "collection_select",
			"type": "collection",
			"label": "Select Collection"
		}
	],
	"blocks": [
			{
                "type": "button",
                "name": "Hero Button",
				"limit": 1,
                "settings": [

                {
                "id": "button_text",
                "type": "text",
                "label": "Button Text"

                },
                {
                "id": "button_link",
                "type": "url",
                "label": "Button Link"
                },
				{
                  "type": "select",
                  "id": "button-color",
                  "options": [
                    {
                      "value": "light",
                      "label": "Light"
                    },
                    {
                      "value": "dark",
                      "label": "Dark"
                    }
                  ],
                  "default": "dark",
                  "label": "Dark"
                }
              ]
            }
		],
	"presets": [
    {
      "name": "Collection Products",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
