<style>
  
  .default-h2 {
    font-size: 40px;
    font-weight: 700;
    color: #342D25;
    font-family: Athelas,sans-serif;
    text-align: center;
  }

  .default-text {
    text-align: center;
  }
  
  .btn {
    background-color: #342D25;
    color: #F4EDE2;
    display: table;
    margin: 0 auto;
    padding: 14px 44px;
    margin-top: 30px;
  }
  .cookie-popup-block {
    position: fixed;
    z-index: 10;
    bottom: 21px;
    left: 23px;
    background-color: #EBDCC2;
    padding: 37px 39px;
    width: 528px;
  }
  .cookie-popup-block .default-h2 {
    text-align: left;
    max-width: 345px;
  }
  .cookie-popup-block .default-text {
    text-align: left;
    max-width: 345px;
  }
  .pop-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .cookie-popup-block .btn {
    margin-top: 0;
    width: 31%;
    padding: 14px;
    font-family: var(--font-body-family);
    font-weight: 500;
    border: 0;
    letter-spacing: .8px;
    font-size: 16px;
}
  @media(max-width: 992px) {
    .cookie-popup-block {
      bottom: 0;
      right: 0;
      padding: 28px 20px;
      width: 100%;
    }
    .cookie-popup-block .default-h2 {
      max-width: 90%;
    }
    .cookie-popup-block .default-text {
      max-width: 90%;
    }
  }
  
</style>
<div class="cookie-popup-block" style="display: none;">    
  <div class="rel">
    <h2 class="default-h2"><span class="cookie-image">{% include "icon-cookie" %}</span>{{ section.settings.header_text }}</h2>
    <p class="default-text">{{ section.settings.sub_header_text }}</p>

    <button type="submit" class="btn" name="commit" id="Subscribe" aria-label="Inschrijven">
      Inschrijven
    </button>
  </div>
</div>

<script>
  $(document).ready(function(){
      $(".cookie-popup-block:not(.active)").fadeIn();
      $(".cookie-popup-block").addClass("active");
  }); 
  
  $(".cookie-popup-block .pop-close").click(function() {
  	$(".cookie-popup-block").fadeOut();console.log("sdf");
  });
  
</script>


{% schema %}
  {
    "name": "Cookie popup",
    "settings": [
		{
          "id": "header_text",
          "type": "text",
          "label": "Header text"

        },
        {
        "id": "sub_header_text",
        "type": "html",
        "label": "Sub header text"

        }
	],
"presets": [
    {
      "name": "Cookie popup",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
