{{ 'img-with-txt.css' | asset_url | stylesheet_tag }}

<div class="img-with-txt-wrapper">
  <div class="container">
    <div class="img-with-text-content flex-box align-center justify-between">
      <div class="img-with-txt-left"></div>
      <div class="img-with-txt-right"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image with Text Button",
    "settings": [
		{
        "id": "heading",
        "type": "text",
        "label": "Section Heading"
        },
		{
        "id": "desc",
        "type": "text",
        "label": "Section Description"
        },
		{
        "id": "image",
        "type": "image_picker",
        "label": "Section Image"
        }
	],
	"blocks": [
			{
                "type": "button",
                "name": "Hero Button",
				"limit": 2,
                "settings": [

                {
                "id": "button_text",
                "type": "text",
                "label": "Button Text"

                },
                {
                "id": "button_link",
                "type": "url",
                "label": "Button Link"
                },
				{
                  "type": "select",
                  "id": "button-color",
                  "options": [
                    {
                      "value": "light",
                      "label": "Light"
                    },
                    {
                      "value": "dark",
                      "label": "Dark"
                    }
                  ],
                  "default": "dark",
                  "label": "Dark"
                }
              ]
            }
		],
	"presets": [
    {
      "name": "Image with Text Button",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
