<div class="article-wrapper">
  <div class="container">
    <div class="article-img-content rel">
      <div class="article-img">
      	{{ article.image }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "New Blog Post",
    "settings": [
	],
	"presets": [
    {
      "name": "New Blog Post",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
