{{ 'newsletter-sub.css' | asset_url | stylesheet_tag }}

<div class="newsletter-sub-wrapper">
  <div class="container">
    <h2 class="newsletter-sub-heading text-center heading-2">{{ section.settings.nl_sub_heading }}</h2>
    <div class="ns-form-wrapper flex-box">
      {% form 'contact' %}
      {%- if form.errors -%}
      {{ form.errors | default_errors  }}
      {%- endif -%}
      {%- if form.posted_successfully? -%}

      {%- endif -%}
		<div class="ns-sub-form-input-wrap">
      <input class="subscription-form-input" type="email" name="contact[email]" placeholder="Jouw e-mailadres" required>
      <button class="submit-btn btn medium" type="submit" form="contact_form" value="Submit">
        Inschrijven
        </button>
      </div>
      <input type="checkbox" id="tnc" name="tnc" value="Terms">
		<label for="tnc"> Ik ga akkoord met de voorwaarden en heb de privacy policy gelezen.</label>
        {% endform %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter Subscription",
    "settings": [
		{
        "id": "nl_sub_heading",
        "type": "text",
        "label": "Section Heading"
        }
	],
	"presets": [
    {
      "name": "Newsletter Subscription",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}