{{ 'product-filter-sort.css' | asset_url | stylesheet_tag }}

<div class="product-filter-sort-wrapper">
  <div class="container">
    <div class="product-filter-sort-content flex-box">
      <div class="pfs-left">
        <div class="pfs-heading medium">{{ section.settings.heading }}</div>
        <div class="filter-and-sorting">
          <div class="sorting">
            <div class="sort">Price, low to high</div>
            <div class="sort">Price, high to low</div>
          </div>
          <div class="filters"></div>
        </div>
      </div>
      <div class="pfs-right"></div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Product Filter Sort",
    "settings": [
		{
        "id": "heading",
        "type": "text",
        "label": "Section Heading"
        }
	],
	
	"presets": [
    {
      "name": "Product Filter Sort",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}