{{ 'store-locator.css' | asset_url | stylesheet_tag }}

<div class="store-locator-wrapper">
  <div class="container">
    <div class="store-locator-content flex-box">
      <div class="store-locator-left">
        <h2 class="store-locator-heading heading-2">{{ section.settings.heading }}</h2>
        <div class="pin-code">
        	<input type="number" class="locator-pin-code" placeholder="Vul de postcode in">
        </div>
        <hr class="locator-hr">
        <div class="search-nearby">
          <h3 class="">Zoek in de buurt</h3>
          <div class="distances flex-box">
            <div class="distance flex-box">
              <div class="radio"></div>
              <div class="distance-text"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="store-locator-right">
      
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Store Locator",
    "settings": [
		{
			"id": "heading",
			"type": "text",
			"label": "Section Heading"
		}
	],
	"presets": [
    {
      "name": "Store Locator",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
