{{ 'store-locator.css' | asset_url | stylesheet_tag }}

<div class="store-locator-wrapper">
  <div class="container">
    <div class="store-locator-content flex-box">
      <div class="store-locator-left">
        <h2 class="store-locator-heading heading-2">{{ section.settings.heading }}</h2>
        <div class="pin-code">
        	<input type="number" class="locator-pin-code" placeholder="Vul de postcode in">
        </div>
        <hr class="locator-hr">
        <div class="search-nearby">
          <h3 class="medium search-nearby-title">Zoek in de buurt</h3>
          <div class="distances flex-box">
            <div class="distance" data-dist="25">
              <div class="radio-wrap flex-box align-center">
              <div class="radio"><span class="radio-checked"></span></div>
              <div class="distance-text">25 km</div>
              </div>
            </div>
            <div class="distance" data-dist="50">
              <div class="radio-wrap flex-box align-center">
              <div class="radio"><span class="radio-checked"></span></div>
              <div class="distance-text">50 km</div>
              </div>
            </div>
            <div class="distance" data-dist="75">
              <div class="radio-wrap flex-box align-center">
              <div class="radio"><span class="radio-checked"></span></div>
              <div class="distance-text">75 km</div>
              </div>
            </div>
            <div class="distance" data-dist="100">
              <div class="radio-wrap flex-box align-center">
              <div class="radio"><span class="radio-checked"></span></div>
              <div class="distance-text">100 km</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="store-locator-right">
      	<div id="googleMap" style="width:100%;height:575px;"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.radio-wrap').click(function() {
    $('.radio-wrap').parent().removeClass('selected');
  	$(this).parent().addClass('selected');
  });
  
  /*function myMap() {

  // Coordinates to center the map
  var myLatlng = new google.maps.LatLng(51.222687, 4.4985199);

  // Other options for the map, pretty much selfexplanatory
  var mapOptions = {
    zoom: 16,
    center: myLatlng,
    query: 'Cantata koffie',
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  // Attach a map to the DOM Element, with the defined settings
  var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "Cantata koffie",
  });
}*/
  function initMap() {
  // Create the map.
  const map = new google.maps.Map(document.getElementById('map'), {
    zoom: 7,
    center: {lat: 52.632469, lng: -1.689423},
  });

  // Load the stores GeoJSON onto the map.
    map.data.loadGeoJson('{{ "stores.json" | asset_url }}', {idPropertyName: 'storeid'});

  const apiKey = 'AIzaSyBFnC0N3_eWlSfNF95aNeBG4qQNR67y-N8';
  const infoWindow = new google.maps.InfoWindow();

  // Show the information for a store when its marker is clicked.
  map.data.addListener('click', (event) => {
    const category = event.feature.getProperty('category');
    const name = event.feature.getProperty('name');
    const description = event.feature.getProperty('description');
    const hours = event.feature.getProperty('hours');
    const phone = event.feature.getProperty('phone');
    const position = event.feature.getGeometry().get();
    const content = `
      <h2>${name}</h2><p>${description}</p>
      <p><b>Open:</b> ${hours}<br/><b>Phone:</b> ${phone}</p>
    `;

    infoWindow.setContent(content);
    infoWindow.setPosition(position);
    infoWindow.setOptions({pixelOffset: new google.maps.Size(0, -30)});
    infoWindow.open(map);
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFnC0N3_eWlSfNF95aNeBG4qQNR67y-N8&callback=myMap"></script>

{% schema %}
  {
    "name": "Store Locator",
    "settings": [
		{
			"id": "heading",
			"type": "text",
			"label": "Section Heading"
		}
	],
	"presets": [
    {
      "name": "Store Locator",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
