{{ 'top-in-gift.css' | asset_url | stylesheet_tag }}

<div class="top-in-gift-wrapper container rel">
    <div class="top-in-gift-background"></div>
    
</div>

{% schema %}
  {
    "name": "Top in Gift",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
