{{ 'ytob.css' | asset_url | stylesheet_tag }}
{% for block in section.blocks %}
{% if block.type == "collection_select" %}
{% assign collection_handle = block.settings.collection_sel %}
{% endif %}
{% endfor %}

<div class="ytob-wrapper">
  <div class="container rel">
    <h2 class="ytob-title text-center heading-2">{{section.settings.ytob-heading}}</h2>
    <div class="prod-collections flex-box">
      {{ collection_handle }}
      {% for coll in collections[collection_handle] %}
      	<div class="prod-collection">{{ coll.title | escape }}</div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Your Taste Our Blend",
    "settings": [
		{
        "id": "ytob-heading",
        "type": "text",
        "label": "Section Heading"
        }	
	],
	"blocks": [
		{
		"name": "Select Collection",
		"type": "collection_select",
		"limit": 3,
		"settings": [
			{
              "type": "collection",
              "id": "collection_sel",
              "label": "Select Collection"
            }
		]
		}
	],
	"presets": [
    {
      "name": "YTOB Section",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
