{{ 'ytob.css' | asset_url | stylesheet_tag }}

<div class="ytob-wrapper">
  <div class="container">
    <h3 class="ytob-title">{{section.settings.ytob-heading}}</h3>
    <div class="prod-collections flex-box">
    	
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Your Taste Our Blend",
    "settings": [
		{
        "id": "ytob-heading",
        "type": "text",
        "label": "Section Heading"
        }	
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
