.ac-left {
    width: 24%;
}

.ac-right {
    width: 70%;
}

.company-logo svg {
	width: 100%;
}

.addicted-companies-wrapper {
    margin-bottom: 148px;
}

@media (max-width: 992px){
  .addicted-companies-content {
    flex-direction: column;
}
  
  .ac-left, .ac-right {
    width: 100%;
}
  
  .ac-left{
  	margin-bottom: 26px;
  }
}