.collection-products-wrapper{
/* 	background-color: var(--background-main); */
}

.collection-products-title {
    margin-bottom: 83px;
}

.product-tag{
	font-size: 13px;
  line-height: 14px;
  color: var(--main-heading-color);
}