.faq-heading {
    margin-bottom: 117px;
}

.faq-content {
    width: 55%;
    margin: 0 auto;
    min-width: 740px;
  margin-bottom: 150px;
}

.faq-para {
    margin-bottom: 51px;
}

.faq-question {
    width: 70%;
}

.faq-question-wrap {
    align-items: flex-end;
}

.faq-question-wrap {
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: 1px solid #342d254d;
  transition: .4s ease;
}

.faq-icon{
	transition: .4s ease;
}

.faq-qa-wrap {
    margin-bottom: 25px;
}

.accordion{
	cursor: pointer;
}

.faq-question-wrap.active {
	border-bottom: 0;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.open-panel{
	padding-bottom: 10px;
  border-bottom: 1px solid #342d254d;
}

@media (max-width: 992px){
  .faq-heading {
    margin-bottom: 52px;
    font-size: 42px;
    line-height: 45px;
}
  
  .faq-content {
    width: 100%;
    min-width: unset;
    margin-bottom: 100px;
}
}