.faq-heading {
    margin-bottom: 117px;
}

.faq-content {
    width: 55%;
    margin: 0 auto;
    min-width: 740px;
}

.faq-para {
    margin-bottom: 51px;
}

.faq-question {
    width: 70%;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}