.video-gtk{
	width: 50%;
  height: 45vh;
}

.text-gtk {
    width: 40%;
}

#video-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.gtk-title {
    margin-bottom: 35px;
}

.gtk-desc {
    margin-bottom: 21px;
}

.get-to-know-wrapper .btn{
	padding-left: 22px;
  padding-right: 22px;
  margin-right: 10px;
}

.get-to-know-wrapper{
	margin-bottom: 150px;
}

@media (max-width: 992px){
  .get-to-know {
    flex-direction: column-reverse;
}
  
  .text-gtk, .video-gtk {
    width: 100%;
}
  
  .gtk-desc {
    margin-bottom: 18px;
}
  
  .gtk-btns.flex-box {
    flex-direction: column;
}
  
  .get-to-know-wrapper .btn {
    margin-bottom: 10px;
}
  
  .text-gtk {
    margin-bottom: 50px;
}
  
  .video-gtk {
    height: 30vh;
}
}