.header-anouncement {
  background-color: var(--main-font-color);
  color: var(--background-main);
  padding: 16px 0;
}

#header-anouncement-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#header-anouncement-close svg{
  fill: #F4EDE2;
  width: 9.27px;
  height: 9.27px;
}

header{
	background-color: var(--background-main);
      padding-bottom: 68px;
}

.header-wrapper {
    padding-top: 10.5px;
  background-color: var(--background-main);
}

.header-upper-section {
/*     padding-bottom: 12px; */
    border-bottom: 0.5px solid var(--main-font-color);
}

.header-upper-left {
  width: 45%;
  max-width: 300px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
}

.header-upper-right {
    width: 45%;
    max-width: 170px;
  font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
}

.header-upper-right-icon {
	max-height: 16px;
  margin-bottom: 12px;
}

.header-upper-right-icon svg{
	width: 16px;
  height: 16px;
}

.lang-icon.rel {
    padding-bottom: 12px;
}

.header-nav-list-sub {
    padding: 10px 10px 10px 10px;
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 40px;
    text-align: left;
    top: 31px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    transition-delay: 0s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: var(--background-main);
    border: 1px solid;
}

.hover-wrapper {
    padding: 108px 0px 0px 46px;
    display: block;
    visibility: hidden;
    position: absolute;
    right: 0;
    left: -18px;
    z-index: 1;
/*     width: calc(100vw - 18px); */
  width: 100%;
    max-width: 1680px;
    text-align: left;
    top: 124px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    transition-delay: 0s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: var(--background-main);
}

.hover-wrapper li{
	width: fit-content;
  width: -moz-fit-content;
}

.lower-left-nav-list:hover .hover-wrapper {
    max-height: 100vh;
    opacity: 1;
  visibility: visible;
  	height: 100vh;
  display: block;
}

.lower-left-nav-list:hover {
	border-bottom: 1px solid;
}

.main-link-title {
    font-size: 14px;
    line-height: 19px;
    color: var(--main-heading-color);
    margin-bottom: 22px;
      font-weight: 500;
}

.sub-link {
	font-size: 30px;
    line-height: 33px;
    font-family: 'Athelas';
    margin-bottom: 16px;
    display: block;
}

.lower-left-nav-list {
    line-height: 38px;
}



.down-chevron{
	transition: .4s ease;
}

.lang-icon .down-chevron svg{
	margin-bottom: 3px;
}

.lang-icon:hover .header-nav-list-sub{
	max-height: 999px;
    opacity: 1;
}

.lang-icon:hover .down-chevron{
	transform: rotate(180deg);
}

.header-lower {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    padding-top: 36.5px;
  padding-bottom: 5.5px;
}

.header-lower-left .down-chevron{
  height: 4.37px;
    display: inherit;
	transition: .4s ease;
}

.lower-left-nav-item:hover .down-chevron{
	transform: rotate(180deg);
}

.header-lower-left .down-chevron svg{
	width: 7.5px;
  margin-left: 2px;
  height: 100%;
}

.header-lower-left {
  min-width: 434px;
    width: 40%;
  justify-content: flex-start;
/*     max-width: 450px; */
}

.header-lower-middle {
    width: 20%;
}

.header-lower-right{
  min-width: 354px;
	width: 40%;
/*   max-width: 180px; */
}

.header-lower-right-inner {
  margin-left: auto;
  justify-content: flex-end;
}
.search-container {
    display: inline-block;
    position: relative;
}

.search-container .search {
    transition: all 1s;
    z-index: 4;
    position: relative;
    display: inline-block;
    height: auto;
    width: 16px;
    vertical-align: middle;
}
  .search-container .search svg {
    content: "";
    position: absolute;
    top: -9px;
    right: 0;
    bottom: 0;
    left: 8px;
    transition: all .5s;
}

.search-container .search:hover {
  cursor: pointer;
}
.search-container .input-box {
    position: absolute;
    right: -20px;
    left: auto;
    top: -5px;
    background-color: transparent;
}

.search-container input {
      width: 50px;
    height: 30px;
    outline: none;
    border-bottom: 1px solid #342d25;
    color: #342d25;
    padding: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    box-sizing: border-box;
    background-color: transparent;
}

.search-container input:hover {
  cursor: pointer;
}

.search-container.active input {
  width: 300px;
  opacity: 1;
  cursor: text;
  padding: 0 50px 0 10px;
  font-family: var(--font-body-family)!important;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .4px;
}
  .search-container input::placeholder {
    font-family: var(--font-body-family)!important;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .4px;
      opacity: .7;
        }

  .search-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: var(--font-body-family)!important;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .4px;
      opacity: .7;
        }
  ul.search-results {
    background-color: #f4ede2;
    border: 1px solid;
    max-height: 275px;
    overflow: auto;
    width: 100%;
}
ul.search-results li a {
    display: flex;
    align-items: center;
}
  ul.search-results li a .title {
    margin: 0;
    margin-left: 5px;
  }


li.lower-right-nav-list {
    margin-right: 34px;
}
li.lower-right-nav-list:last-child {
	margin-right: 0;
}
.lower-left-nav-list {
    margin-left: 34px;
}
.lower-left-nav-list:first-child {
	margin-left: 0;
}

.full-opacity{
	opacity: 1 !important;
}

.page-selected {
    border-bottom: 1px solid;
}

a.page-selected {
    padding-bottom: 5px;
}

@media (max-width: 1250px){
.lower-left-nav-list {
    margin-left: 20px;
}
}
.cart-quantity {
    background-color: #E6AF7B;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
}
@media (max-width: 992px){
  
  .small-font {
    font-size: 11px;
    letter-spacing: .06px;
}
  
  .header-mobile{
    padding-top: 16px;
}
  
  .navbar-toggler {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: .4s ease;
}
  
  .icon-bar {
    width: 16px;
    background-color: var(--main-font-color);
    display: block;
    height: 1px;
      transition: .4s ease;
}
  
  .bar2 {
    margin: 5px 0;
}
  
  .header-lower-left {
    width: 100%;
    min-width: unset;
}
  
  .header-lower-right-inner {
    width: 100%;
}
  
  .header-upper-left {
    width: 100%;
    max-width: unset;
    padding-bottom: 20px;
}
  
  .header-lower-left .down-chevron, .upper-left-nav-list .down-chevron {
    height: 11px;
    display: inherit;
    transition: .4s ease;
}
  
  .upper-left-nav-list .down-chevron svg {
    width: 7.5px;
    margin-left: 2px;
    height: 100%;
}
  
  .drawer-content {
    padding-top: 26px;
    padding-bottom: 60px;
}
  
  .lower-left-nav-list, .lower-right-nav-list {
    padding: 12px 0;
    font-size: 20px;
    line-height: 27px;
}
  
  .header-lower-right-inner {
    padding-bottom: 22px;
}
  
  .upper-left-nav-list {
    padding: 9px 0;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.6;
}
  
  .mobile-menu-search {
  	border: none;
    background-color: transparent;
    padding-bottom: 7px;
    border-bottom: 1px solid #342d2599;
    width: 90%;
  }
  
  .search svg {
  	width: 16px;
    height: 16px;
  }
  
  .drawer-menu, .mobile-sub-menu-wrapper {
    display: block;
    position: fixed;
    z-index: 10;
    height: calc( 100vh - 124px );
    width: 100vw;
/*     max-width: 487px; */
    top: 124px;
    background-color: var(--background-main);
      padding: 0 20px 60px;
    left: -100vw;
    transition: .4s ease;
    overflow-y: scroll;
}
  
  .drawer-menu.drawn, .mobile-sub-menu-wrapper.drawn {
    left: 0;
  }
  .drawer-menu form.search.flex-box.justify-between.rel::after {
    content: "";
    display: block;
    height: 400px;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
  }
  
  .bar1.rotate {
    transform: translateY(1px) rotate(45deg);
    margin: -5px 0;
}
  
  .bar2.disappear {
    width: 0;
    margin: 0;
}
  
  .bar3.rotate {
    transform: rotate(-45deg);
    margin: 4px 0;
}
  
  .back-chevron {
    transform: rotate(180deg);
    margin-right: 40px;
}
  
  .main-link-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #342d254d;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
}
  
  .sub-link {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 26px;
}
  
  .lower-left-nav-list:hover {
	border-bottom: none;
}
  .header-container.flex-box.justify-center.small-font.align-center.rel {
    justify-content: left !important;
    padding-right: 40px;
}
.lower-left-nav-list,li.lower-right-nav-list {
    margin-left: 0;
  font-weight: 500;
}
}