.header-anouncement {
  background-color: var(--main-font-color);
  color: var(--background-main);
  padding: 16px 0;
}

#header-anouncement-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#header-anouncement-close svg{
  fill: #F4EDE2;
  width: 9.27px;
  height: 9.27px;
}

header{
	background-color: var(--background-main);
      padding-bottom: 68px;
}

.header-wrapper {
    padding-top: 10.5px;
  background-color: var(--background-main);
}

.header-upper-section {
    padding-bottom: 12px;
    border-bottom: 0.5px solid var(--main-font-color);
}

.header-upper-left {
  width: 45%;
  max-width: 300px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
}

.header-upper-right {
    width: 45%;
    max-width: 170px;
  font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
}

.header-upper-right-icon {
	max-height: 16px;
}

.header-upper-right-icon svg{
	width: 16px;
  height: 16px;
}

.header-nav-list-sub {
    padding: 10px 26px 10px 0;
    display: block;
    border: 0;
    position: absolute;
    left: 0;
    z-index: 1;
    width: min-content;
    min-width: 78px;
    text-align: left;
    top: 34px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    transition-delay: 0s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.down-chevron{
	transition: .4s ease;
}

.lang-icon .down-chevron svg{
	margin-bottom: 3px;
}

.lang-icon:hover .header-nav-list-sub{
	max-height: 999px;
    opacity: 1;
}

.lang-icon:hover .down-chevron{
	transform: rotate(180deg);
}

.header-lower {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    padding-top: 36.5px;
  padding-bottom: 5.5px;
}

.header-lower-left .down-chevron{
  height: 4.37px;
    display: inherit;
	transition: .4s ease;
}

.lower-left-nav-item:hover .down-chevron{
	transform: rotate(180deg);
}

.header-lower-left .down-chevron svg{
	width: 7.5px;
  margin-left: 2px;
  height: 100%;
}

.header-lower-left {
    width: 33%;
/*     max-width: 450px; */
}

.header-lower-middle {
    width: 33%;
}

.header-lower-right{
	width: 33%;
/*   max-width: 180px; */
}

.header-lower-right-inner {
    width: 50%;
    margin-left: auto;
}

@media (max-width: 992px){
  
  .small-font {
    font-size: 11px;
    letter-spacing: .06px;
}
  
  .header-mobile{
    padding-top: 16px;
}
  
  .navbar-toggler {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: .4s ease;
}
  
  .icon-bar {
    width: 16px;
    background-color: var(--main-font-color);
    display: block;
    height: 1px;
}
  
  .bar2 {
    margin: 5px 0;
}
  
  .header-lower-left {
    width: 100%;
}
  
  .header-lower-right-inner {
    width: 100%;
}
  
  .header-upper-left {
    width: 100%;
    max-width: unset;
    padding-bottom: 93px;
}
  
  .header-lower-left .down-chevron, .upper-left-nav-list .down-chevron {
    height: 11px;
    display: inherit;
    transition: .4s ease;
}
  
  .upper-left-nav-list .down-chevron svg {
    width: 7.5px;
    margin-left: 2px;
    height: 100%;
}
  
  .drawer-content {
    padding-top: 26px;
}
  
  .lower-left-nav-list, .lower-right-nav-list {
    padding: 12px 0;
    font-size: 20px;
    line-height: 27px;
}
  
  .header-lower-right-inner {
    padding-bottom: 22px;
}
  
  .upper-left-nav-list {
    padding: 9px 0;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.6;
}
  
  .mobile-menu-search {
  	border: none;
    background-color: transparent;
    padding-bottom: 7px;
    border-bottom: 1px solid #342d2599;
    width: 90%;
  }
  
  .search svg {
  	width: 16px;
    height: 16px;
  }
  
  .drawer-menu {
    display: block;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    max-width: 487px;
    top: 124px;
    background-color: var(--background-main);
    left: -100vw;
    padding: 0 40px 0 80px;
    transition: .4s ease;
    overflow-y: scroll;
}
  
  .drawer-menu.drawn {
    left: 0;
}
}