.img-with-txt-left, .img-with-txt-right {
    width: 45%;
}

.img-with-txt-left img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img-with-text-desc {
    width: 65%;
  margin-bottom: 26px;
}

.img-with-text-heading {
    margin-bottom: 26px;
}

.img-with-txt-wrapper .btn {
    padding-left: 27px;
    padding-right: 27px;
}

.img-with-txt-wrapper{
	margin-bottom: 294px;
}

@media (max-width: 992px){
  .img-with-text-content {
    flex-direction: column-reverse;
}
}