.article-wrapper.rel {
    margin-top: 312px;
}

.darker-background {
    background-color: var(--background-slight-dark);
    display: block !important;
    height: 300px;
    position: absolute;
    right: 0;
    width: 80%;
}

.article-img {
    position: absolute;
    top: -60%;
  width: 45%;
}

.article-img img {
	width: 100%;
  object-fit: cover;
}

.article-content-wrap {
    width: 45%;
    margin-left: 55%;
  padding-top: 38px;
}

.abs {
    position: absolute;
    top: -75px;
}

.article-tag {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    width: fit-content;
    padding: 5px 12px;
    color: var(--background-main);
    background-color: var(--main-font-color);
}