.article-filter {
    font-size: 15px;
    line-height: 20px;
    padding: 6px 8px 5px;
    border: 1px solid;
  margin-right: 11px;
  cursor: pointer;
  transition: .4s ease;
}

.article-filter svg{
	fill: var(--background-main);
}

.article-filter.selected {
	color: var(--background-main);
      background-color: (--main-font-color);
}