.article-wrapper.rel {
    margin-top: 312px;
}

.darker-background {
    background-color: var(--background-slight-dark);
    display: block !important;
    height: 300px;
    position: absolute;
    right: 0;
    width: 80%;
}

.article-img {
    position: absolute;
    top: -60%;
  width: 45%;
}

.article-img img {
	width: 100%;
  object-fit: cover;
}

.article-content-wrap {
    width: 45%;
    margin-left: 55%;
}