.article-filter-wrapper{
	margin-bottom: 67px;
}

.article-filter {
    font-size: 15px;
    line-height: 20px;
    padding: 6px 8px 5px;
    border: 1px solid;
  margin-right: 11px;
  cursor: pointer;
  transition: .4s ease;
}

.article-filter svg{
	fill: var(--background-main);
      width: 10px;
      height: 10px;
      margin-left: 10px;
}

.article-filter.selected {
	color: var(--background-main);
      background-color: var(--main-font-color);
}

.blog-page-articles {
    margin: 0 -0.667%;
  flex-wrap: wrap;
  margin-bottom: 91px;
}

.blog-page-article-wrap{
	width: 32%;
    margin: 0 0.667% 18px;
  background-color: #ffffff;
}

.article-image {
/*     margin-bottom: 44px; */
}

.blog-page-article-wrap img{
	width: 100%;
  height: 307px;
  object-fit: cover;
  display: block;
}

.article-text{
	padding: 44px 28px 28px;
}

.article-title {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 600;
    font-family: 'Athelas', sans-serif;
    margin-bottom: 25px;
    display: block;
}

.article-desc {
    overflow: hidden;
    height: 76px;
    line-height: 26px;
    opacity: 80%;
    margin-bottom: 40px;
}

.article-url {
    line-height: 22px;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

.load-more {
    width: fit-content;
    line-height: 22px;
    padding-bottom: 4px;
    border-bottom: 1px solid;
    cursor: pointer;
    margin-bottom: 136px !important;
}