.ns-form-wrapper .subscription-form-input {
    padding: 16px 21px;
  border: none;
  width: 80%;
}

.ns-form-wrapper .submit-btn {
    background-color: var(--main-font-color);
      border: none;
  color: var(--background-main);
    cursor: pointer;
    width: 20%;
}

.mainLoginInput::-webkit-input-placeholder {
  font-family: var(--font-body-family);
    font-size: 16px;
    line-height: 27px;
}

.ns-form-wrapper form{
	width: 100%;
    display: flex;
}

.ns-form-wrapper.flex-box {
    width: 50%;
    margin-left: 25%;
}