.pfs-left{
	width: 20%;
}

.pfs-right{
	width: 75%;
}

.pfs-heading {
    margin-bottom: 13px;
}

.filter-and-sorting {
    font-size: 13px;
}

.sort, .filter {
	opacity: 0.5;
  cursor: pointer;
  transition: .4s ease;
}

.sort.selected{
	opacity: 1;
}