.pfs-left{
	width: 15%;
}

.pfs-right{
	width: 80%;
}

.pfs-heading {
    margin-bottom: 13px;
}

.filter-and-sorting {
    font-size: 13px;
}

.filter-and-sorting .close-icon {
    position: absolute;
    right: 0;
}

.sort, .filter {
	opacity: 0.5;
  cursor: pointer;
  transition: .4s ease;
  width: fit-content;
}

.sort.selected{
	opacity: 1;
}