.promotional-gifts-left, .promotional-gifts-right {
    width: 48%;
}

.promotional-gifts-heading {
    margin-bottom: 26px;
}

.promotional-gifts-desc {
    width: 60%;
    line-height: 27px;
    letter-spacing: 0;
}