.pgc-left, .pgc-right {
    width: 48%;
}

.pgc-right img {
	width: 100%;
  object-fit: cover;
  display: block;
}

.abs-background {
    display: block !important;
    width: 98%;
    background-color: var(--background-slight-dark);
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 2%;
}

.pgc-heading {
    font-family: Athelas,sans-serif;
    font-size: 55px;
    line-height: 61px;
    position: absolute;
    top: -29px;
}

.pgc-form-wrapper {
    margin-top: 66px;
}

.pgc-form-input {
    border: none;
    background-color: transparent;
    padding-bottom: 7px;
    border-bottom: 1px solid #342d2599;
  margin-bottom: 32px;
}

.pgc-form-input.half-input {
	width: 48%;
}

.pgc-form-input.full-input{
  width: 100%;
}

.checkbox-wrap{
	margin-top: 11px;
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid;
  margin-right: 13px;
  cursor: pointer;
}

.checkbox.selected .checked {
	width: 10px;
  height: 10px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: var(--main-font-color);
    position: absolute;
}

.checkbox-label {
    line-height: 27px;
    font-size: 12px;
}

.newsletter-sub-wrapper {
    margin-bottom: 131px;
}

.checkbox-label a{
	text-decoration: underline;
}

textarea {
  resize: none;
}

.pgc-form-input::-webkit-input-placeholder {
  font-family: var(--font-body-family);
    font-size: 14px;
    line-height: 26px;
}

.pgc-left .checkbox-wrap {
    margin-bottom: 43px;
}

.pgc-left .btn {
    line-height: 44px;
    letter-spacing: 0.8px;
    padding: 7px 27px;
}

.pgc-right {
    position: absolute;
    right: 25px;
    top: -135px;
}

.pgc-left{
	padding-bottom: 135px;
}