.top-in-gift-wrapper{
	padding-top: 52px;
  padding-bottom: 392px;
}

.top-in-gift-background{
	width: calc( 100% + 25px );
    display: block !important;
    height: 100%;
    position: absolute;
    left: 25px;
    top: 0;
    background-color: var(--background-slight-dark);
      z-index: -1;
}

.tig-content-left {
    width: 40%;
}

.tig-title {
    position: absolute;
    top: -22px;
    left: 83px;
}

.tig-desc-button-wrapper {
    margin-left: 58px;
    width: 80%;
}

.tig-content-right {
    width: 45%;
}

.tig-img-wrap img {
	width: 100%;
  object-fit: cover;
  display: block;
}