.ytob-wrapper {
    background-color: var(--background-slight-dark);
      padding: 102px 0 116px;
}

.ytob-title{
	position: absolute;
  top: -125px;
    left: calc( 50% - 223px );
}

.prod-collection {
    width: 33%;
}

.coll-title-url {
    position: absolute;
    bottom: 47px;
    left: 10%;
    color: var(--background-main);
}

.coll-title {
    margin-bottom: 17px;
}

.coll-url a{
	font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
}