.ytob-wrapper {
    background-color: var(--background-slight-dark);
      padding: 102px 0 116px;
      margin-bottom: 127px;
}

.ytob-title{
	position: absolute;
  top: -125px;
    left: calc( 50% - 223px );
}

.prod-collection {
    width: 33%;
}

.coll-title-url {
    position: absolute;
    bottom: 47px;
    left: 10%;
    color: var(--background-main);
}

.coll-title {
    margin-bottom: 17px;
}

.coll-url a{
	font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
}

.coll-img {
    max-height: 432px;
}

.coll-img img{
	width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 992px){
  .ytob-title {
    left: calc(50% - 167px);
    font-size: 30px;
    top: -95px;
    line-height: 41px;
}
  
  .ytob-wrapper {
    padding: 73px 0 100px;
    margin-bottom: 100px;
}
  
  .prod-collections {
    flex-direction: column;
}
  
  .prod-collection {
    width: 100%;
    margin-bottom: 14px;
}
  
  .coll-title {
    line-height: 38px;
}
}